body{
  word-break: break-all;
}

h1{
  margin: 2% 0;
}

nav{
  background-color: #444;
}

nav a{
  color: #757575;
}

nav a:hover {
  color: #e0e0e0;
}

.navbar-brand {
  padding: .5rem 1rem;
  color: #fff;
}

.container {
  margin-top: 3%;
  font-family: serif;
  padding: 10px;
  text-align: center;
}

#header {
  margin: 0 auto 50px;
  font-size: 1.25rem;
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.card {
  box-shadow: 0 1px 3px rgba(106,137,152,0.2);
  margin: 5% 0;
}

.card-title {
  font-weight: bold;
}

.card-body img {
  width: 35%;
  margin: 5% auto;
}

.user_card {
  text-align: left;
  padding: 2.5rem;
}

.user_card table {
  width: 100%;
}

.user_card th {
  padding: 2% 0;
  width: 15%;
}

.user_card td {
  width: 85%;
}

.product_card {
  text-align: left;
  padding: 2rem;
}

.btn_wrap {
  margin: 1.5% 0;
  text-align: right;
}

form .btn_wrap {
  width: 40%;
  display: inline-block;
  margin: 2% 4% 2% 5%;
}

.btn {
  width: 100%;
  border-radius: 34px;
  box-shadow: 0 0 15px 1px rgba(133,140,142,0.3);
}

.right_btn {
  text-align: right;
  width: 20%;
  text-align: center;
}

.img_wrap {
  display: inline-block;
}

.product_wrap {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(106,137,152,0.2);
  padding: 2%;
}

.product_wrap img,
.product_card img{
  width: 80%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
              0 1px 2px 0 rgba(0,0,0,.24);
}

.product_wrap th,
.product_card th{
  width: 20%;
}

table{
  width: 100%;
}

.product_wrap th,
.product_wrap td,
.product_card th,
.product_card td{
  padding: 15px;
  text-align: left;
}

.shadow-z-1 {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
  -moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
  box-shadow:         0 1px 3px 0 rgba(0,0,0,.12),
                      0 1px 2px 0 rgba(0,0,0,.24);
}

/* 入力フォームの設定 */

.group {
  display: block;
  position: relative;
  margin: 1% 5% 5%;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border:none;
  border-bottom: 1px solid #757575;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f06292;
}

input[type="text"][disabled]{
  background:#DCDCDC;
  cursor:not-allowed; /* 禁止カーソル */
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f06292;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}