.container {
  font-family: serif;
  padding: 10px;
  text-align: center;
  margin: 2% 0 0 0;
}

#header {
  margin: 0 auto 50px;
  background-color: rgb(255, 239, 248);
  font-size: 30px;
  position: fixed;            /* ヘッダーの固定 */
  top: 0px;                   /* 位置(上0px) */
  left: 0px;                  /* 位置(右0px) */
  width: 100%;                /* 横幅100%　*/
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.logo {
  width: 8%;
  display: inline-block;
}

.logo img {
  width: 100px;
  border-radius: 10px;
  margin: 5% 0;
  vertical-align: middle;
}

.search {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  margin-left: 8%;
  height: 50px;
}

.search input[type="search"]{
  display: inline-block;
	width: 80%;
	line-height: 24px;
	background: none;
	padding: 8px;
	background-color: #fff;
  border: 1px solid #aaa;
  outline: none;
  font-size: 1rem;
  border-radius: 10px;
}

.search input[type="submit"]{
  display: inline-block;
	width: 15%;
	height: 40px;
	color:#fff;
	line-height: 40px;
  text-align: center;
  border-radius: 10px;
	background-color: #e91e63;
  border: 1px solid #e91e63;
  box-shadow: 1px 1px 2px rgb(66, 66, 66);
  font-size: 14px;
  cursor: pointer;
  margin-left: 2%;
}

.aicon {
  display: inline-block;
  vertical-align: middle;
  padding: 1px 0 0;
  width: 25%;
  height: 100%;
  margin-left: 1%;
}

.aicon a{
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}

.login-btn {
  display: inline-block;
  width: 26%;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: #e91e63;
  border: 1px solid #e91e63;
  box-shadow: 1px 1px 2px rgb(66, 66, 66);
  font-size: 14px;
  text-decoration: none;
}

#menu {
  display: inline-block;
  width: 20%;
}

.menu-img {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  vertical-align: middle;
}

.home_svg{
  width: 46px;
  height: 46px;
}


ul.header-dropmenu {
  list-style: none;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}
ul.header-dropmenu > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  /* border: 1px solid #494949; */
  background: #eba3d1; /* 背景色*/
}
ul.header-dropmenu li a {
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
ul.header-dropmenu li ul {
  visibility: hidden;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  border: 1px solid rgb(124, 122, 122); /* マウスオーバー時の枠線 */
  border-top: none;
}

.header-dropmenu a {
  color: #fff;
}

ul.header-dropmenu li:hover ul {
  visibility: visible;
}
ul.header-dropmenu li ul li {
  background: #eba3d1;
  transition: all .2s ease;
}
ul.header-dropmenu > li:hover {
  background: #eba3d1;
  border: 1px solid #222; /* マウスオーバー時の枠線 */
  border-bottom: none;
}
ul.header-dropmenu li:hover ul li:hover {
  background: #69435b;
}



#campaign {
  margin: 5% 0 0 0;
  width: 100%;
}

.center { margin: 0 0 10px;}
.center img { width: 100%; height: auto;}
.center .slick-next { right: 15px; z-index: 99;}
.center .slick-prev { left: 15px; z-index: 100;}

/*slickを使用したので不要。4分割のcss
 .campaign-d {
  display: inline-block;
  width: 45%;
}

.campaign-img-1,
.campaign-img-2,
.campaign-img-3,
.campaign-img-4 {
  width: 90%;
  height: 90%;
} */



#infomation {
  background-color: #e91e63;
  width: 80%;
  margin: 50px auto;
  padding: 0 22px;
}

#rankingbody {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 0 22px;
}

.ranking-btn {
  text-align: right;
}

.ranking-d {
  padding: 10px;
  background-color: rgb(252, 229, 232);
  box-shadow: 1px 1px 3px rgb(141, 141, 141);
  display: inline-block;
  width: 45%;
  margin: 10px;
}

.ranking-img-1,
.ranking-img-2,
.ranking-img-3,
.ranking-img-4 {
  width: 95%;
  height: 95%;
}

.txt-container {
  background-color: #fff;
  width: 95%;
}

.ranking-d h2 {

  text-align: left;
  margin: -8px auto;
  width: 95%;
  height: 50px;
}

.ranking-d p {

  text-align: left;
  margin: -8px auto;
  width: 95%;
  height: 100px;
}


/*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからitemsのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */


#items-list-body {
  background-color: #fff;
  width: 80%;
  margin: 8% auto;
  padding: 0 22px;
}

.items-list-btn {
  text-align: right;
}

.item-d {
  display: inline-block;
  width: 27%;
  margin: 10px;
  padding: 5px 0; 
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(141, 141, 141);
}

.item-img {
  width: 90%;
  height: 90%;
}

p {
  height: auto;
}



/*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからshowのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */

.show-body {
  margin: 15% 0 0 0;
}

.items-img {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  /* vertical-align: middle; */
}

.item-infomation {
  display: inline-block;
  width : 45%;
  text-align: left;
  padding: 0 0 0 20px;
}

.item-details h2 {
  text-decoration: underline;
}

.item-buy-head h3{
  background-color: rgb(80, 80, 80);
}

.thumbnail { max-width: 600px; margin: 0 auto 5px; padding: 0;}
.thumbnail img,.thumbnail-thumb img{ width: 100%;}
.thumbnail-thumb { max-width: 600px; margin: 0 auto;}
.thumbnail-thumb li { margin: 5px;}
.thumbnial-thumb .slick-next { right: 20px; z-index: 100;}
.thumbnail-thumb .slick-prev { left: 15px; z-index: 100;}
.thumbnail-thumb .slick-current { opacity: 0.5;}
.thumbnail-thumb div { cursor: pointer;}

.retailprice {
  text-align: right;
}

.retailprice nobr {
  font-size: 20px;
  font-family: cursive;
}

nobr.price {
  font-size: 30px;
}

.cart-btn input {
    border-radius: 10px;          /* 角丸       */
    font-size: 15px;        /* 文字サイズ */
    text-align: center;      /* 文字位置   */
    cursor: pointer;     /* カーソル   */
    margin: 10px 30px;
    padding: 12px 12px;   /* 余白       */
    background: #ff4d4d;     /* 背景色     */
    color: #ffffff;     /* 文字色     */
    width: 90%;
    height: 30%;         /* 1行の高さ  */
    opacity: 0.9;         /* 透明度     */
    transition: 0.3;         /* なめらか変化 */
    box-shadow: 2px 2px 1px #666666;  /* 影の設定 */
  }
  .cart-btn input:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
  }


  /*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからcartのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */

.cart-body {
  margin: 15% 0 0 0;
}

.cart-content {
  width: 80%;
  margin: auto;
  text-align: center;
  border: 1px solid #7c7878;
  border-collapse: separate;
  border-spacing: 1px;
  border-radius: 6px;
  margin: 10px auto;
  padding: 10px;


}

.cart-item {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  text-align: center;
}

.cart-items-img {
  display: inline-block;
  margin: 5px;
  width: 45%;
  vertical-align: top;
  width: 30%;
  text-align: center;
}

.cart-item-img {
  width: 90%;
  text-align: center;
}

.cart-item-infomation {
  margin: 5px;
  display: inline-block;
  width : 45%;
  text-align: left;
  padding: 0 0 0 5px;
}

.cart-item-infomation p{
  margin:0;
}

.cart-item-title {
  text-decoration: underline;
  font-size: 20px;
  margin:0;
}

.cart-retailprice {
  display: inline-block;
  text-align: center;
  width:20%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-retailprice nobr {
  font-size: 20px;
  font-family: cursive;
}

nobr.cart-price {
  font-size: 30px;
}

.cart-items-select {
  display: inline-block;
  text-align: center;
  width:20%; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-items-select nobr {
  font-size: 20px;
  font-family: cursive;
}

nobr.cart-item-select {
  font-size: 30px;
}

.cart-delete-btn {
  display: inline-block;
  width: 10%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cart-delete-btn input {
    border-radius: 10px;          /* 角丸       */
    font-size: 15px;        /* 文字サイズ */
    text-align: center;      /* 文字位置   */
    cursor: pointer;     /* カーソル   */
    padding: 12px 12px;   /* 余白       */
    background: #ff4d4d;     /* 背景色     */
    color: #ffffff;     /* 文字色     */
    height: auto;         /* 1行の高さ  */
    opacity: 0.9;         /* 透明度     */
    transition: 0.3;         /* なめらか変化 */
    box-shadow: 2px 2px 1px #666666;  /* 影の設定 */
  }
  .cart-delete-btn input:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
  }

    /*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからmypage_tのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */
.mypage-top-body {
  background-color: #fff;
  width: 80%;
  margin: 8% auto;
  padding: 0 22px;
}

.content-1 ,
.content-2 ,
.content-3 {
  display: inline-block;
  width: 27%;
  margin: 10px;
  padding: 5px 0; 
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgb(141, 141, 141);
}

.content-1-img ,
.content-2-img ,
.content-3-img {
  width: 30%;
  height: 30%;
}

.mypage-top-contents p{
  font-size: 16px;
  color: #222;
}

  /*ーーーーーーーーーーーーーーーーーーーーーーー
ここからmypage/accountのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */
.account-body {
width: 100%;
height:100%;
margin: 5% 0;
padding: 100px 0;
}

.basic {
max-width: 1000px;
margin: auto auto;
padding: 10px;
display: block;
}

.basic-title {
margin: 20px;
padding: 15px;
border-radius: 6px;
box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.basic-title h2 {
text-align: left;
border-bottom: 1px dotted #e97676; 
}

.tabel-body {
  width: 100%;
  font-size: small;
  border: 1px solid #7c7878;
  border-collapse: separate;
  border-spacing: 1px;
  border-radius: 6px;
}

table.tabel-body th {
width: 30%;
min-width: 300px;
vertical-align: top;
padding: 5px 0 5px 15px;
background-color: #f1c7e2;
border-right: 1px solid #3f3d3d;
border-bottom: 1px dotted #3f3d3d;
text-align: left;
}

table.tabel-body td {
width: 70%;
padding: 5px;
border-bottom: 1px dotted #8c8c8c;
text-align: left;
}

.edit-btn {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #f15050;     /* 背景色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
  }
  .edit-btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
  }
  .edit-btn-img {
    font-size: 15px;
    color: #ffffff;
  }


    /*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからorderのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */
  .buy-btn {
    margin: 10px;
    width: 200px;
    position: absolute;
    right: 10%;
    border-radius : 5%;          /* 角丸       */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 0;   /* 余白       */
    background    : #f15050;     /* 背景色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
  }
  .buy-btn:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
  }
  .buy-btn-img {
    font-size: 15px;
    color: #ffffff;
  }

  .order-body {
    width: 100%;
    height:100%;
    margin: 10% 0;
    padding: 100px 0;
    }
    
    .order-info {
    max-width: 1000px;
    margin: 7% auto 2%;
    padding: 10px;
    display: block;
    }
    
    .order-info-title {
    margin: 20px;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    }
    
    .order-info-title h2 {
    text-align: left;
    border-bottom: 1px dotted #e97676; 
    }
    
    .tabel-body {
      width: 100%;
      font-size: small;
      border: 1px solid #7c7878;
      border-collapse: separate;
      border-spacing: 1px;
      border-radius: 6px;
    }
    
    table.tabel-body th {
    width: 30%;
    min-width: 300px;
    vertical-align: top;
    padding: 5px 0 5px 15px;
    background-color: #f1c7e2;
    border-right: 1px solid #3f3d3d;
    border-bottom: 1px dotted #3f3d3d;
    text-align: left;
    }
    
    table.tabel-body td {
    width: 70%;
    padding: 5px;
    border-bottom: 1px dotted #8c8c8c;
    text-align: left;
    }
    
    .edit-btn,
    .back-btn,
    .order-next-btn {
        display       : inline-block;
        margin: 0 20px 100px;
        width: 20%;
        border-radius : 5%;          /* 角丸       */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 0;   /* 余白       */
        background    : #f15050;     /* 背景色     */
        line-height   : 1em;         /* 1行の高さ  */
        opacity       : 0.9;         /* 透明度     */
        transition    : .3s;         /* なめらか変化 */
        box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
      }
      .edit-btn:hover,
      .back-btn:hover,
      .order-next-btn:hover {
        box-shadow    : none;        /* カーソル時の影消去 */
        opacity       : 1;           /* カーソル時透明度 */
      }
      .edit-btn-img,
      .back-btn-img,
      .order-next-btn-img {
        font-size: 15px;
        color: #ffffff;
      }

      
    /*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからmyorderのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */
.myorder-body {
  margin: 15% 0 0 0;
}

.myorder-info {
  margin: 0 10%;
  padding: 30px;
  background-color: rgb(255, 227, 227);
  box-shadow: 2px 2px 1px #666666;
}

.items-img {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  /* vertical-align: middle; */
}

.item-img {
  width: 80%;
}

.item-infomation {
  display: inline-block;
  width : 45%;
  text-align: left;
  padding: 0 0 0 20px;
}

.item-details h2 {
  text-decoration: underline;
}

.item-buy-head p{
  text-align: left;
  margin: 30px 0 0 0;
  background-color: rgb(155, 153, 153);
}

.price-body {
  width: 100%;
}


.retailprice {
  text-align: left;
}

.retailprice nobr {
  font-size: 20px;
  font-family: cursive;
}

nobr.price {
  font-size: 30px;
}



    /*ーーーーーーーーーーーーーーーーーーーーーーー
 ここからsigninのcss 
　ーーーーーーーーーーーーーーーーーーーーーーー */
.signin-body {
  margin: 15% 0 0 0;
}