<% include ../header %>
<div class="account-body">
  <section class="section">
    <div class="basic">
      <div class="basic-title">
        <h2>基本情報</h2>
        <table class="tabel-body">
          <tbody>
            <tr>
              <th>お名前</th>
              <td>
                DBから取得した名前を表示する
              </td>
            </tr>
            <tr>
              <th>お名前フリガナ</th>
              <td>
                DBから取得したフリガナを表示する
              </td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td>
                DBから取得した郵便番号を表示する
              </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                  DBから取得した住所を表示する
                </td>
            </tr>
            <tr>
              <th>性別</th>
              <td>
                DBから取得した生年月日を表示する
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="basic-title">
        <h2>メールアドレス</h2>
        <table class="tabel-body">
          <tbody>
            <tr>
              <th>メールアドレス</th>
              <td>
                DBから取得したアドレスを表示する
              </td>
            </tr>
          </tbody>
        </table>
      </div>  
    </div>
  </section>
</div>
<% include ../footer %>