<% include ../header %>
<div class="account-body">
  <section class="section">
    <% console.log(user) %>
        <div class="basic">
      <div class="basic-title">
        <h2>基本情報</h2>
        <table class="tabel-body">
          <tbody>
            <tr>
              <th>お名前</th>
              <td><%=user.email%></td>
            </tr>
            <tr>
              <th>お名前フリガナ</th>
              <td>
                DBから取得したフリガナを表示する
              </td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td>
                DBから取得した郵便番号を表示する
              </td>
            </tr>
            <tr>
                <th>住所</th>
                <td>
                  DBから取得した住所を表示する
                </td>
            </tr>
            <tr>
              <th>性別</th>
              <td>
                DBから取得した生年月日を表示する
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="basic-title">
        <h2>メールアドレス</h2>
        <table class="tabel-body">
          <tbody>
            <tr>
              <th>メールアドレス</th>
              <td>
                DBから取得したアドレスを表示する
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="edit-btn">
        <a class="edit-btn-img" href="/mypage/account/会員ID/edit">会員情報を変更する</a> 
      </div>  
    </div>
  </section>
  <h3><%=user.email%></h3>
</div>
<% include ../footer %>