<% include ../header %>

<div class="container">
  <header id="header">
    <div class="logo-btn">
        <a href="/">
          <img src="../img/front/index/logo.png">
        </a>
    </div>
    <form class="search">
      <input type="search" name="search-box" placeholder="何をお探しですか？">
      <input type="submit" name="submit" value="検索">
    </form>
    <div class="aicon">
    <div class="login-body">
        <a href="aaaa" class="login-btn">ログイン</a>
    </div>
    <div class="login-body">
        <a href="会員登録画面" class="login-btn">会員登録</a>
    </div>
          <a href="mypage" class="menu">
            <img src="../img/front/index/shopping_cart.png" class="menu-img">
          </a>
        <a href="cart">
          <img src="../img/front/index/shopping_cart.png" class="menu-img">
        </a>
    </div>
  

  <ul class="header-dropmenu">
      <li>
          <a href="#">すべてのメニュー</a>
          <ul>
              <li><a href="#">すべてのメニュー</a></li>
            </ul>
    
        </li>  
      <li>
        <a href="#">ミルクティ</a>
        <ul>
          <li><a href="#">道福茶（セーデルティー）</a></li>
          <li><a href="#">アールグレイ</a></li>
        </ul>
      </li>
      <li>
        <a href="#">黒糖ミルク</a>
        <ul>
          <li><a href="#">黒糖ミルク</a></li>
          <li><a href="#">抹茶黒糖ラテ</a></li>
        </ul>
      </li>
      <li>
        <a href="#">フルーツティ</a>
        <ul>
          <li><a href="#">ハニーオレンジ</a></li>
          <li><a href="#">ハニーレモン</a></li>
          <li><a href="#">ベリーベリースカッシュ</a></li>
        </ul>
      </li>
      <li>
        <a href="#">カテゴリ4</a>
        <ul>
          <li><a href="#">サブカテゴリ</a></li>
          <li><a href="#">サブカテゴリ</a></li>
          <li><a href="#">サブカテゴリ</a></li>
        </ul>
      </li>
    </ul>

  </header>



  <div id=campaign class="campaign-body">
      <div class="center">
          <div><a href="#"><img src="../img/front/index/sample_campa1.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa2.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa3.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa4.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa5.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa6.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa7.jpg"></a></div>
          <div><a href="#"><img src="../img/front/index/sample_campa8.jpg"></a></div>
        </div>
    
    
  
</div>

  <div id=infomation class="infomation-body">
      <a href="お知らせへ遷移">静的なお知らせを載せよう。お知らせのリンクでもいい？</a>
  </div>

  <div id=rankingbody class="ranking-body">
    <a href="すべての商品"class=ranking-btn> すべての商品 </a>


    <div id=ranking class="ranking">
        <div class="ranking-d">
          <a href="campaign" class="campaign1">
              <img src="../img/front/index/sample_campa1.jpg" class="ranking-img-1">
            </a>
            <p>説明文だよー1</p>

        </div>
        <div class="ranking-d">
            <a href="campaign-2" class="campaign2">
                <img src="../img/front/index/sample_campa2.jpg" class="ranking-img-2">
              </a>
              <p>説明文だよー2</p>

          </div>
          <div class="ranking-d">
              <a href="campaign-3" class="campaign3">
                  <img src="../img/front/index/sample_campa3.jpg" class="ranking-img-3">
                </a>
                  <p>説明文だよー3333333333333333333333333333333333333333333333333333333333</p>
                
            </div>
            <div class="ranking-d">
                <a href="campaign-4" class="campaign4">
                    <img src="../img/front/index/sample_campa4.jpg" class="ranking-img-4">
                  </a>
                  <p>説明文だよー4</p>

              </div>
    
      
      <h3>ランキングが表示される。ランキングの右上と右下に「すべての商品ボタンがほしい</h3>
  </div>






</div>

 <% include ../footer %>

