<% include ../header %>

<div class="container">


  <div id=campaign class="campaign-body">
    <div class="center">
      <div><a href="#"><img src="../img/front/index/sample_campa1.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa2.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa3.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa4.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa5.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa6.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa7.jpg"></a></div>
      <div><a href="#"><img src="../img/front/index/sample_campa8.jpg"></a></div>
    </div>
  </div>


  <div id=infomation class="infomation-body">
    <a href="お知らせへ遷移">静的なお知らせを載せよう。お知らせのリンクでもいい？</a>
  </div>
  <div id=rankingbody class="ranking-body">
    <a href="/items"class=ranking-btn> すべての商品 </a>
    <div id=ranking class="ranking">
      <div class="ranking-d">
        <a href="campaign" class="campaign1">
          <img src="../img/front/index/sample_campa1.jpg" class="ranking-img-1">
        </a>
        <p>説明文だよー1</p>
      </div>
      <div class="ranking-d">
        <a href="campaign-2" class="campaign2">
          <img src="../img/front/index/sample_campa2.jpg" class="ranking-img-2">
        </a>
        <p>説明文だよー2</p>
      </div>
      <div class="ranking-d">
        <a href="campaign-3" class="campaign3">
          <img src="../img/front/index/sample_campa3.jpg" class="ranking-img-3">
        </a>
          <p>説明文だよー3333333333333333333333333333333333333333333333333333333333</p>
      </div>
      <div class="ranking-d">
        <a href="campaign-4" class="campaign4">
          <img src="../img/front/index/sample_campa4.jpg" class="ranking-img-4">
        </a>
        <p>説明文だよー4</p>
      </div>
    </div>
  </div>
</div>

<h2>
  <i>
    ::before
  </i>
<span>ランキング</span>
"らんきんぐ"
</h2>

 <% include ../footer %>

