<% include ../header %>
<div id="items-list-body">
  <div id=items class="items">
      <% item.forEach(item => { %>
    <div class="item-d">
      <a href="items/<%=item.id%>">
        <img src="../img/front/index/sample_campa1.jpg" class="item-img">
      </a>
      <br><p><%=item.product_name%></p>
      <br><p><%=item.product_description%></p>
    </div>
    <% }); %>
  </div>
</div>
<% include ../footer %>