<% include ../header %>
<div id="items-list-body">
  <a href="/items"class=items-list-btn> すべての商品 </a>
  <div id=items class="items">
    <div class="item-d">
      <a href="items/商品ID">
        <img src="../img/front/index/sample_campa1.jpg" class="item-img">
      </a>
      <br><p>説明文だよー1</p>
    </div>
    <div class="item-d">
      <a href="items/商品ID">
        <img src="../img/front/index/sample_campa2.jpg" class="item-img">
      </a>
      <br><p>説明文だよー2</p>
    </div>
    <div class="item-d">
      <a href="items/商品ID">
        <img src="../img/front/index/sample_campa3.jpg" class="item-img">
      </a>
      <br><p>説明文だよー</p>
    </div>
    <div class="item-d">
      <a href="items/商品ID">
        <img src="../img/front/index/sample_campa4.jpg" class="item-img">
      </a>
      <br><p>説明文だよー4</p>
    </div>
  </div>
</div>
<% include ../footer %>