<% include ../header %>
<div class="myorder-body">
  <div class="myorder-info">
    <div class="items-img">
      <img class="item-img" src="../img/front/myorder/sample_campa1.jpg" alt="">
    </div>
    <div class="item-infomation">
      <div class="item-details">
        <h2>商品タイトル　DBから商品情報を取得するよ</h2>
        <br><p>商品説明　DBから商品情報を取得するよ</p> 
        <div class="price-body"> 
          <div class="item-buy-head">
            <p>価格</p>
          </div>
          <div class="retailprice">
            <nobr>通常価格：</nobr>
            <nobr class="price">650円</nobr> <!--値段をDBから取得する-->
            <nobr>（税込み）</nobr>
          </div>
          <div class="retailprice">
            <nobr>購入個数：</nobr>
            <nobr class="price">5</nobr> <!--値段をDBから取得する-->
            <nobr> 個</nobr>
          </div>
          <div class="retailprice">
            <nobr>合計金額：</nobr>
            <nobr class="price">3250</nobr> <!--値段をDBから取得する-->
            <nobr> 円</nobr>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

<% include ../footer %>