<% include ../header %>
<div class="mypage-top-body">
  <div class="mypage-top-contents">
    <div class="mypage-top-content-1">
      <a href="/mypage/account">
        <div class="content-1">
          <img class="content-1-img" src="../img/front/mypage_t/account.png" alt="">
          <p>お客様情報</p>
        </div>
      </a>
      <a href="/mypage/order">
        <div class="content-2">
          <img class="content-2-img" src="../img/front/mypage_t/order.png" alt="">
          <p>注文履歴</p>
        </div>
      </a>
      <a href="/mypage/delivery">
        <div class="content-3">
          <img class="content-3-img" src="../img/front/mypage_t/delivery.png" alt="">
          <p>配送状況</p>
        </div>
      </a>
    </div>
  </div>

</div>
<% include ../footer %>



