<% include ../header %>
<div class="show-body">
  <div class="items-img">

      <div class="thumbnail">
          <div><img src="../img/front/show/sample_show1.jpg" alt=""></div>
          <div><img src="../img/front/show/sample_show2.jpg" alt=""></div>
          <div><img src="../img/front/show/sample_show3.jpg" alt=""></div>
          <div><img src="../img/front/show/sample_show4.jpg" alt=""></div>
        </div>
      <div class="thumbnail-thumb">
          <div><img src="../img/front/show/sample_show1.jpg" alt=""></div>
          <div><img src="../img/front/show/sample_show2.jpg" alt=""></div>
          <div><img src="../img/front/show/sample_show3.jpg" alt=""></div>
          <div><img src="../img/front/show/sample_show4.jpg" alt=""></div>
      </div>
    



  </div>
  <div class="item-infomation">
  <div class="item-details">
    <h2>商品タイトル　DBから商品情報を取得するよ</h2>
    <p>商品説明　DBから商品情報を取得するよ</p>
  </div>
  <div class="item-buy">
    <div class="item-buy-head">
      <h3>商品情報</h3>
    </div>
  </div>
</div>
</div>


<% include ../footer %>