<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/script.js"></script>
<script type="text/javascript" src="../js/slick/slick.min.js"></script>
<script type="text/javascript">
$('.center').slick({
  infinite: true, //スライドのループ有効化
  dots:true, //ドットのナビゲーションを表示
  centerMode: true, //要素を中央寄せ
  centerPadding:'10%', //両サイドの見えている部分のサイズ
  autoplay:true, //自動再生
});
</script>


</body>
</html>