<script src="../js/jquery-3.4.1.min.js"></script>
<!-- <script src="../js/script.js"></script> -->
<script type="text/javascript" src="../js/slick/slick.min.js"></script>
<script type="text/javascript">


//script.jsを読み込んでないみたいだから、こっちにべた書き
$('.center').slick({
  infinite: true, //スライドのループ有効化
  dots:true, //ドットのナビゲーションを表示
  centerMode: true, //要素を中央寄せ
  centerPadding:'35%', //両サイドの見えている部分のサイズ。この値を修正すると画像のサイズも必然的に変わる
  autoplay:true, //自動再生

  //以下を入れるとスライドがすーーっと動く
  // autoplaySpeed: 0,
  // cssEase: 'linear',
  // speed: 10000
});

$('.thumbnail').slick({
  infinite: true, //スライドのループ有効化
  arrows: false, //矢印非表示
  fade: true, //フェードの有効化
  draggable: false //ドラッグ操作の無効化
});
$('.thumbnail-thumb').slick({
  infinite: true, //スライドのループ有効化
  slidesToShow: 8, //表示するスライドの数
  focusOnSelect: true, //フォーカスの有効化
  asNavFor: '.thumbnail', //thumbnailクラスのナビゲーション
});


</script>

    </div>
  </body>
</html>