<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="../css/slick-theme.css" rel="stylesheet" type="text/css">
  <link href="../css/slick.css" rel="stylesheet" type="text/css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <title>EC</title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
  <div class="container">
    <header id="header">
      <div class="logo-btn">
        <a href="/">
          <img src="../img/front/index/logo.png">
        </a>
      </div>
      <form class="search">
        <input type="search" name="search-box" placeholder="何をお探しですか？">
        <input type="submit" name="submit" value="検索">
      </form>
      <div class="aicon">
        <div class="login-body">
          <a href="aaaa" class="login-btn">ログイン</a>
        </div>
        <div class="login-body">
          <a href="会員登録画面" class="login-btn">会員登録</a>
        </div>
<!-- divで囲ったほうがいい？ ここから-->
        <a href="/mypage/top" class="menu">
          <img src="../img/front/index/shopping_cart.png" class="menu-img">
        </a>
        <a href="/cart">
          <img src="../img/front/index/shopping_cart.png" class="menu-img">
        </a>
<!-- divで囲ったほうがいい？ ここまで-->
      </div>
      
    
      <ul class="header-dropmenu">
        <li>
          <a href="#">すべてのメニュー</a>
          <ul>
            <li><a href="#">すべてのメニュー</a></li>
          </ul>
        </li>  
        <li>
          <a href="#">ミルクティ</a>
          <ul>
            <li><a href="#">道福茶（セーデルティー）</a></li>
            <li><a href="#">アールグレイ</a></li>
          </ul>
        </li>
        <li>
          <a href="#">黒糖ミルク</a>
          <ul>
            <li><a href="#">黒糖ミルク</a></li>
            <li><a href="#">抹茶黒糖ラテ</a></li>
          </ul>
        </li>
        <li>
          <a href="#">フルーツティ</a>
          <ul>
            <li><a href="#">ハニーオレンジ</a></li>
            <li><a href="#">ハニーレモン</a></li>
            <li><a href="#">ベリーベリースカッシュ</a></li>
          </ul>
        </li>
        <li>
          <a href="#">カテゴリ4</a>
          <ul>
            <li><a href="#">サブカテゴリ</a></li>
            <li><a href="#">サブカテゴリ</a></li>
            <li><a href="#">サブカテゴリ</a></li>
          </ul>
        </li>
      </ul> 
    </header>
    
