<% include ../../layout/admin_header %>

<h1>ユーザ一覧画面</h1>
<div class="btn_wrap">
  <a href="/admin/users/new" class="btn btn-primary right_btn">ユーザ新規登録</a>
</div>
<div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover table-mc-light-blue">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id">1</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Color Palette</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
            <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">2</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Iconic Fonte</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">3</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Hierarchical Display</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">4</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Sidebar</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">5</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Tiles</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">6</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Typography</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">7</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Buttons</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">8</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Form Elements</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/admin/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">9</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Email Template</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
      <tr>
        <td class="id">10</td>
        <td class="name">
          <a href="/admin/users/show/1">Material Design Animation Timing (old one)</a>
        </td>
        <td class="mail">
          test01@example.com
        </td>
        <td class="edit">
          <a href="/users/1/edit">編集</a>
        </td>
        <td class="delete">
          <a href="#">削除</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<% include ../../layout/admin_footer %>