<% include ../../layout/admin_header %>
<h1>ユーザ詳細画面</h1>
<div class="col-sm-12">
  <div class="card">
    <div class="card-body user_card">
      <table>
        <tr>
          <th>ユーザ名</th>
          <td>Material Design Color Palette</td>
        </tr>
        <tr>
          <th>住所</th>
          <td>xxx県〇〇市〇〇区 1-1-1</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>000-1234-5678</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>test01@example.com</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% include ../../layout/admin_footer %>