<% include ../../layout/admin_header %>
<h1>商品詳細画面</h1>

<div class="row product_wrap">
  <div class="col-sm-4">
    <div class="">
      <img src="../../../img/front/show/sample_show2.jpg" alt="sample_show2.jpg">
    </div>
  </div>
  <div class="col-sm-8">
    <div class="">
      <table>
        <tr>
          <th>カテゴリ名</th>
          <td>カテゴリーA</td>
        </tr>
        <tr>
          <th>商品名</th>
          <td>商品A</td>
        </tr>
        <tr>
          <th>商品詳細</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<% include ../../layout/admin_footer %>